@import "../../styles/helpers/mixins";

.newPostPage {
  height: 100%;
  display: flex;

  @include sm {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .formContainer {
    flex: 3;
    overflow: scroll;

    .wrapper {
      margin: 30px 50px 100px 0px;

      @include lg {
        margin: 20px 30px 70px 0px;
      }

      @include md {
        margin: 15px 20px 50px 0px;
      }

      @include sm {
        margin: 10px 15px 30px 0px;
        width: 90%;
      }

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @include md {
          flex-direction: column;
        }

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          @include md {
            width: 45%;
          }

          @include sm {
            width: 100%;
          }

          input,
          select {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;

            @include sm {
              padding: 15px;
            }
          }

          &.description {
            width: 100%;
            height: 220px;

            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;

              @include sm {
                height: 150px;
                font-size: 14px;
              }
            }
          }
        }

        .sendButton {
          width: 30%;
          border-radius: 5px;
          border: none;
          background-color: var(--primary-color);
          color: white;
          font-weight: bold;
          cursor: pointer;
          text-align: center;
          padding: 19px;
          border-radius: 5px;

          @include md {
            width: 45%;
          }

          @include sm {
            width: 100%;
            padding: 15px;
          }
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @include md {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include sm {
      width: 90%;
    }

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;

      @include md {
        width: 45%;
        height: 150px;
      }

      @include sm {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
